InventoryDashboard with chatbot/chatbot/Inventory Workflow (1).json
{
  "name": "Inventory Workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        176
      ],
      "id": "594c9cda-4f19-4035-b167-5c93117e9e86",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "iP6V2NQbxPy0l3LQ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1lbkUL3h32z7kic-6r7FPXk1NijLKEolTcZoPrgFtbHs",
          "mode": "list",
          "cachedResultName": "Inventory Record Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lbkUL3h32z7kic-6r7FPXk1NijLKEolTcZoPrgFtbHs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lbkUL3h32z7kic-6r7FPXk1NijLKEolTcZoPrgFtbHs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Product Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Product_Name__using_to_match_', ``, 'string') }}",
            "Opening \n Stock": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Opening___Stock', ``, 'string') }}",
            "Purchase/\n Stock in": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Purchase___Stock_in', ``, 'string') }}",
            "Number of \n Units Sold": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Number_of___Units_Sold', ``, 'string') }}",
            "Hand-In-\n Stock": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Hand-In-__Stock', ``, 'string') }}",
            "Cost Price \n Per Unit (USD)": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cost_Price___Per_Unit__USD_', ``, 'string') }}",
            "Cost Price\n Total (USD)": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cost_Price__Total__USD_', ``, 'string') }}"
          },
          "matchingColumns": [
            "Product Name"
          ],
          "schema": [
            {
              "id": "Product Name",
              "displayName": "Product Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Opening \n Stock",
              "displayName": "Opening \n Stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Purchase/\n Stock in",
              "displayName": "Purchase/\n Stock in",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Number of \n Units Sold",
              "displayName": "Number of \n Units Sold",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hand-In-\n Stock",
              "displayName": "Hand-In-\n Stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cost Price \n Per Unit (USD)",
              "displayName": "Cost Price \n Per Unit (USD)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cost Price\n Total (USD)",
              "displayName": "Cost Price\n Total (USD)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        576,
        208
      ],
      "id": "fe88663c-6a51-479a-9681-472ae0b756c1",
      "name": "update rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fxMHXD0Z0PKBNaUJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=You are an AI agent that manages information in a Google Sheet. Your job is to read incoming chat messages, review the current sheet data, and update any relevant information as needed.\n\n## Core Process\n\n1. **Read the message**: Understand what the user is asking for or reporting\n2. **Review the sheet**: Use the read tool to get current data from all relevant sections\n3. **Analyze**: Determine what information needs to be updated, added, or modified\n4. **Update**: Use the update tool to make necessary changes\n5. **Confirm**: Briefly explain what you updated\n\n## Available Tools\n\n- `read_google_sheet`: Retrieves current data from the Google Sheet\n'update_google_sheet': Updates specific cells or ranges in the sheet,or if it is not exist so appending new rows to the end of the data\nGmail send message tool: Send the message whenver the user asked for\n\n## Guidelines\n\n- Always read the sheet first before making any updates\n- Only update information that has actually changed or is newly provided\n- Be precise with your updates – don’t modify unrelated data\n- If the message is unclear, ask for clarification before updating\n- Provide a brief summary of what you updated after making changes\n\n## Response Format\n\n1. Read the current sheet data\n2. Identify what needs updating based on the message\n3. Make the necessary updates\n4. Confirm: \"Updated [specific information] in the sheet.\"\n\nStay focused, efficient, and accurate in your updates.\nWhatever you send msg it is from Barira Babar"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        384,
        0
      ],
      "id": "2e45ae30-d702-4cba-94e1-f9837bb54839",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lbkUL3h32z7kic-6r7FPXk1NijLKEolTcZoPrgFtbHs",
          "mode": "list",
          "cachedResultName": "Inventory Record Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lbkUL3h32z7kic-6r7FPXk1NijLKEolTcZoPrgFtbHs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lbkUL3h32z7kic-6r7FPXk1NijLKEolTcZoPrgFtbHs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        800,
        224
      ],
      "id": "5b0e01bf-1257-4b6f-b5ee-f3d607c4e845",
      "name": "get rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fxMHXD0Z0PKBNaUJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sheetaccess",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "923ada63-cc8d-4a78-9679-1ca1c4781881",
      "name": "Webhook",
      "webhookId": "9a66ee2e-6cf5-4d33-bff7-e6c5f93e2fd4",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        736,
        0
      ],
      "id": "215b9aca-9ec3-4099-92d9-d918c83416d4",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.message }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        368,
        208
      ],
      "id": "90d9fd6a-8ed4-4c71-8f84-ef0cd897e74e",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "update rows": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get rows": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9a570170-c586-4b46-8e0a-6c2fa372f965",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b112d29823bf912aa99c4a7eabc7445b3bc3e5e206a7492bee67bd493a2c5517"
  },
  "id": "7Fia6Yvt5Xj4SYFN",
  "tags": []
}